@import "./reset.css";
/*component*/
@import "./component/weather.css";
@import "./component/greeting.css";
@import "./component/clock.css";
@import "./component/todo.css";
/*screen*/
@import "./screen/background.css";
@import "./screen/login.css";
@import "./screen/quote.css";

.hidden {
  display: none;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}
