@import "../../reset.css";

body {
  background-color: wheat;
}
.title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  font-weight: 600;
  text-transform: uppercase;
}

.btns{
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.change__background-color {
  width :100px;
  height: 50px;
  text-align: center;
  background-color: tomato;
  font-weight: 600;
  border-radius: 30px;
  border: none;
  color: white;
}