@import "../../reset.css";

body {
  background-color: wheat;
}
.title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  font-weight: 600;
  text-transform: uppercase;
}
