body {
  background-color: wheat;
}
.alert {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  font-size: 50px;
  font-weight: 600;
  text-transform: uppercase;
}
